Source: hpc-eff
Section: utils
Priority: optional
Maintainer: CESNET <pailozian@cesnet.cz>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools, python3-requests
Standards-Version: 4.6.0
X-Python3-Version: >= 3.9

Package: hpc-eff
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-numpy, python3-requests, ipmitool, cpufrequtils | linux-cpupower
Description: Energy Optimization Governor
 Dynamically adjusts CPU max frequency based on electricity price, CO2 intensity
 and/or temperature. The active regulators are selected via configuration.
